<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<head>
	<meta charset="UTF-8">
	<title>Cadastro de Usuários</title>
</head>
<body>
	<h5>
	<form method="post" action="/home/cadastro/salvar" th:object="${pessoa}">
	
	<input type="hidden" th:field="*{id}" />
	
	<br>Data de Nascimento<br>
	<input type="date" placeholder="Data" th:field="*{dataNascimento}"><br>
	
	<input type="text" placeholder="Nome" th:field="*{nome}"/><br>
	<input type="text" placeholder="CPF" th:field="*{cpf}"/><br>
	<input type="text" placeholder="Endereço" th:field="*{endereco}"/><br>
	<input type="text" placeholder="Email" th:field="*{email}"/><br>
	<input type="password" placeholder="Senha" th:field="*{senha}"/><br><br>
	
	<input type="submit" value="Cadastrar"/>
	</form><br>
	</h5>
	<table class="table">
	<td><a th:href="@{/home}"><button type="button" class="btn btn-success">Voltar ao Inicio</button></td>
	</table>
	
<script src="/js/bootstrap.min.js"></script>
</body>

</html>